
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Quên mật khẩu";
    ViewBag.NoiDung = "Dạy Học Trực Tuyến là trang web giúp các bạn có thể tham gia học tập và trao đổi với nhau mọi lúc mọi nơi !!!";
}
@model DayHocTrucTuyen.Models.LoginModel
<div class="col-lg-5">
    <div class="we-login-register">
        <div class="form-title">
            <i class="fa fa-key"></i>Quên mật khẩu
            <span>nhập email để tiến hành lấy lại mật khẩu</span>
        </div>
        <form class="we-form" method="post" id="formForgotPassword">
            <input type="email" id="emailForgotPassword" maxlength="50" placeholder=" " autofocus required>
            <label class="label-input" id="lblemailForgotPassword">Email</label>
            <input type="hidden" value="@Model.ReturnUrl" id="urlreturnLogin" />
            <label></label>
            <div class="col-12 alert alert-danger" style="display: none" id="errorForgotPassword">
                Lỗi quên mật khẩu !
            </div>
            <button type="submit" class="login-register" id="submitForgotPassword" data-ripple="">Xác nhận</button>
        </form>
        <div class="division">
            <div class="line l"></div>
            <span>Đăng nhập với</span>
            <div class="line r"></div>
        </div>
        <div class="social">
            <button type="button" id="GoogleLogin" class="circle google" onclick="loginWithGoogle()">
                <i class="fa fa-google-plus fa-fw"></i>
            </button>
            <button type="button" id="FacebookLogin" class="circle facebook" onclick="loginWithFacebook()">
                <i class="fa fa-facebook fa-fw"></i>
            </button>
        </div>
        <span><a class="we-account underline" href="/account/register" title="">Chưa có tài khoản? Đăng ký ngay!</a></span>
    </div>
</div>

<!-- popup thông báo -->
<div class="popup-wraper1">
    <div class="popup direct-mesg">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5>Đã gửi email xác thực</h5>
            </div>
            <div class="Rpt-meta">
                <form class="c-form">
                    <p>Chúng tôi đã gửi một email xác thực đến địa chỉ: <span class="reset_email"></span><br />Bạn vui lòng kiểm tra email và tiến hành làm theo hướng dẫn.</p>
                    <div>
                        <button data-ripple="" type="button" class="main-btn popup-hide">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>