
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
    ViewBag.NoiDung = "Dạy Học Trực Tuyến là trang web giúp các bạn có thể tham gia học tập và trao đổi với nhau mọi lúc mọi nơi !!!";
}
@model dynamic

<div class="col-lg-5">
    <div class="we-login-register">
        <div class="form-title">
            <i class="fa fa-key"></i>Đổi mật khẩu
            <span>áp dụng cho email: @Model.email</span>
        </div>
        <form class="we-form" method="post" id="formResetPassword">
            <input type="hidden" value="@Model.email" id="emailResetPassword" />
            <input type="password" id="passResetPassword" maxlength="25" placeholder=" " required>
            <label class="label-input" id="lblpassResetPassword">Mật khẩu</label>
            <input type="password" id="nhaplaiResetPassword" maxlength="25" placeholder=" " onfocusout="passValidate('passResetPassword', 'nhaplaiResetPassword', 'ktnhaplaiResetPassword')">
            <label class="label-input" id="lblnhaplaiResetPassword">Nhập lại mật khẩu</label>
            <div class="col-12">
                <label id="ktnhaplaiResetPassword" class="label-message text-danger" style="display: none; top: 85px">Kiểm tra nhập lại mật khẩu !</label>
            </div>
            <label></label>
            <div class="col-12 alert alert-danger" style="display: none" id="erroResetPassword">
                Lỗi đổi mật khẩu !
            </div>
            <button type="submit" class="login-register" id="submitResetPassword" data-ripple="">Xác nhận</button>
        </form>
        <span><a class="we-account underline" href="/account/register" title="">Chưa có tài khoản? Đăng ký ngay!</a></span>
    </div>
</div>