
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title - Dạy Học Trực Tuyến</title>
    <link rel="icon" href="~/Content/Img/Resources/Logo.gif" sizes="16x16" asp-append-version="true" />

    <link rel="stylesheet" href="~/Template/css/main.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template/css/icon_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template/css/style_area.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template/css/color.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template/css/toastr.css" asp-append-version="true" />

</head>
<body>
    <!-- Loading animation -->
    @await Html.PartialAsync("~/Views/Shared/_Loading.cshtml")

    <div class="www-layout">
        <section>
            <div class="gap no-gap signin whitish medium-opacity">
                <div class="bg-image account-bg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="web-info">
                                <figure><a href="/"><img src="~/Content/Img/Resources/Logo.gif" width="60" title="Trở lại trang chủ"></a></figure>
                                <h1>Chào mừng đến với Dạy Học Trực Tuyến</h1>
                                <p>
                                    Dạy Học Trực Tuyến là trang web giúp các bạn có thể tham gia học tập và trao đổi với nhau mọi lúc mọi nơi !!!
                                </p>
                                <div class="fun-fact">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="fun-box">
                                                <i class="ti-user"></i>
                                                <h6>Thành viên đã đăng ký</h6>
                                                <span>@ViewBag.members</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="fun-box">
                                                <i class="ti-view-list"></i>
                                                <h6>Lớp học được mở</h6>
                                                <span>@ViewBag.classroom</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/Template/js/getAPI.js" asp-append-version="true"></script>
    <script src="~/Template/js/main.min.js" asp-append-version="true"></script>
    <script src="~/Template/js/account.js" asp-append-version="true"></script>
    <script src="~/Template/js/toastr.js" asp-append-version="true"></script>
</body>
</html>