@{
    Layout = null;
}

<div class="wavy-wraper">
    <div class="wavy">
        <span style="--i:1;">L</span>
        <span style="--i:2;">o</span>
        <span style="--i:3;">a</span>
        <span style="--i:4;">d</span>
        <span style="--i:5;">i</span>
        <span style="--i:6;">n</span>
        <span style="--i:7;">g</span>
        <span style="--i:8;">.</span>
        <span style="--i:9;">.</span>
        <span style="--i:10;">.</span>
    </div>
</div>

<!--Loading khi đang xử lý-->
<div class="process-wraper hidden">
    <div class="wavy">
        <span style="--i:1;">X</span>
        <span style="--i:2;">i</span>
        <span style="--i:3;">n</span>
        <span style="--i:4;">&nbsp;</span>
        <span style="--i:5;">c</span>
        <span style="--i:8;">h</span>
        <span style="--i:9;">ờ</span>
        <span style="--i:10;">.</span>
        <span style="--i:11;">.</span>
        <span style="--i:12;">.</span>
    </div>
</div>
