@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xem file PDF - Dạy học trực tuyến</title>
    <link rel="icon" href="~/Content/Img/Resources/Logo.gif">

    <link rel="stylesheet" href="~/Template/css/style_area.css">
    <script src="~/Template/js/main.min.js"></script>
    <script src="~/Template/js/pdf.js"></script>
</head>
<body onload="viewpdf('@ViewBag.FileName')">
    <div id="contain-viewpdf">
        <div id="viewpdf"></div>
    </div>
</body>
</html>
